.detail {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  &__card-no-info {
    padding: 20px;
  }

  &__episodes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &-count {
      padding: 12px;
      font-weight: bold;
      font-size: 24px;
    }
  }

  &__grid-link {
    text-decoration: none;
    color: inherit;
  }
}
